@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Sansita+Swashed:wght@900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	font-size: 24px;
	font-family: "Josefin Sans", sans-serif;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
  width: 800px;
	display: flex;
	flex-direction: column;
	gap: 1px;
}
.container .basic {
	background: lightblue;
	color: white;
    text-align: center;
}
.basic h1 {
	
	font-family: "Sansita Swashed", cursive;
	font-weight: 900;
	font-size: 2.5rem;
	margin-top: 20px;
	font-style: italic;
  text-shadow: 4px 14px 20px hsla(0, 0%, 0%,.5)
}
.basic p {
	font-size: 1.5rem;
	margin: 50px;
    font-weight: 800;
    background: white;
    color: lightblue;
    padding: 5px 3px;
    border-radius: 5px 3px 3px 3px;
}
.ticket {
	margin: auto;
	/* padding: 0.5em; */
	border: 1px solid black;
width: 500px;/* 	width: 70%; */
	height: 400px;
}
.airline {
	background: hsla(39, 100%, 50%, 0.25);
}

.ticket .fields {
	display: flex;
	flex-basis: 0 1 1;

	margin-top: 10px;
	padding: 4px;
}
.ticket .fields .left {
	padding: 4px;
	width: 50%;
}
.ticket .fields .left p {
	margin-bottom: 4px;
	text-align: right;
}
.ticket .fields .right {
	margin: 0 20px;
	padding: 4px;
	background: white;
	width: 80%;
}
.ticket .fields .right p {
	font-weight: 600;
	margin-bottom: 4px;
}
.disclaim {
	margin: 20px 20px;
	padding: 5px;
	background: white;
	border: 1px inset black;
	font-size: .75rem;
}
